<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What’s available</h1>

<p class="govuk-body">Because the pandemic meant you missed out on having a normal induction, we can offer 2 things to help:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a 5% timetable reduction to use on induction training this academic year. Your school should organise this</li>
  <li>online resources to help you develop your skills and knowledge</li>
</ul>

<h2>Online resources</h2>

<p class="govuk-body">
  These materials were designed for teachers doing the new 2-year early career framework programme.
  They feature case studies, videos and other content, giving teachers a solid foundation to build their career on.
  Use the parts that will be most useful to you.
</p>

<p class="govuk-body">
  We encourage you to keep reflections and notes while using these materials. These will be a useful reference, and
  evidence for your progress reviews.
</p>

<p class="govuk-body">
  The resources have been developed by the UCL Early Career Teacher Consortium. They have worked with teachers,
  school leaders, education experts and the Department for Education to create evidenced online learning resources.
</p>
