<%= govuk_breadcrumbs breadcrumbs: home_breadcrumbs(current_user) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @cohort&.start_year == 2020 %>
      <%= render "guidance_nqt_plus_one" %>
    <% else %>
      <%= render "guidance_#{current_user.mentor? ? "mentor" : "ect"}_#{@provider_name_key}" %>
    <% end %>

    <% if current_user.core_induction_programme %>
      <%= govuk_link_to "Go to your materials", cip_path(current_user.core_induction_programme), button: true %>
    <% end %>

  </div>
</div>
