<% if @provider.name == "Ambition Institute" %>
  <h1 class="govuk-heading-l">Guidance for Ambition Institute</h1>
<% elsif @provider.name == "Education Development Trust" %>
  <h1 class="govuk-heading-l">Guidance for Education Development Trust</h1>
<% elsif @provider.name == "Teach First" %>
  <h1 class="govuk-heading-l">Guidance for Teach First</h1>
<% elsif @provider.name == "UCL" %>
  <h1 class="govuk-heading-l">Guidance for UCL</h1>
<% end %>
