<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Support for early career teachers</h1>
    <p class="govuk-body">
      Use this service to access training and support materials for the Early Career Framework (ECF), accredited by the Department for Education.
    </p>

    <h2 class="govuk-heading-m">Before you start</h2>
    <h3 class="govuk-heading-s">Early career teachers and mentors</h3>
    <p class="govuk-body">You’ll need the email address your school registered for you. This will probably be your work email.</p>

    <h3 class="govuk-heading-s">If you're not an early career teacher or mentor</h3>
    <p class="govuk-body">
      You'll need to <%= govuk_link_to "create an account", users_sign_up_path %> to access the materials
    </p>

    <%= govuk_start_now_button text: "Start now", href: new_user_session_path %>
  </div>
</div>
