<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if policy(@mentor_material).edit? %>
      <div class="govuk-button-group">
        <%= govuk_link_to "Edit mentor material", edit_mentor_material_path(@mentor_material), button: true %>
      </div>

      <p>Developer data:</p>
      <p>Mentor material ID: <%= @mentor_material.id %></p>
    <% end %>

    <h1 class="govuk-heading-xl"><%= @mentor_material.title %></h1>
    <% if @mentor_material.completion_time_in_minutes %>
      <h2 class="govuk-caption-m govuk-!-margin-bottom-8">
        Duration: <%= @mentor_material.duration_in_minutes_in_words %>
      </h2>
    <% end %>

    <p>These mentor materials have no content!</p>
  </div>
</div>
