<h2 class="govuk-heading-m">Support and guidance</h2>
<p class="govuk-body-s">
  If you have a question, or you've had a problem using this service, please contact us at
  <%= render MailToSupportComponent.new("continuing-professional-development@digital.education.gov.uk") %>
</p>
